<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012100444286-ivosqf708t7vqakgdpv7m2egde8a6oop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012100444286-ivosqf708t7vqakgdpv7m2egde8a6oop</string>
	<key>API_KEY</key>
	<string>AIzaSyDzofNTXw0Uhr5ER4wxf-LFKKAX_ryPx9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1012100444286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokenizer.xrweb</string>
	<key>PROJECT_ID</key>
	<string>sublime-lambda-292318</string>
	<key>STORAGE_BUCKET</key>
	<string>sublime-lambda-292318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012100444286:ios:85c31ab726529df403a82f</string>
	<key>DATABASE_URL</key>
	<string>https://sublime-lambda-292318.firebaseio.com</string>
</dict>
</plist>